/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@media only screen and (min-width: 1440px) {
  .footer-wave {
    mask-image: url('../images/footer-desktop.svg');
    mask-position: top center;
    mask-size: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile-wave-top::before {
    background-image: url('../images/mobile-footer-up.png');
    background-size: 100% 100%;
    content: '';
    height: 36px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    right: 50%;
    top: -35px;
    width: 100vw;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile-wave-bottom::before {
    background-image: url('../images/mobile-footer-down.png');
    background-size: 100% 100%;
    content: '';
    height: 36px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: absolute;
    right: 50%;
    top: -35px;
    width: 100vw;
  }
}